@import url('../../ext/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css');


.mainAppContainer {
    margin-right: auto;
    margin-left: auto;
}

/* Application loading mask */
.app-mask {
    background: none repeat scroll 0 0 white;
    opacity: 0.7;
}
.app-mask {
    height: 100%;
    position: absolute;
    z-index: 100;
}


.ext-cal-toolbar {
    padding: 6px 0 6px 0 !important;
}

#msg-div {
    left: 35%;
    position: absolute;
    top: 10px;
    min-width: 300px;
    max-width: 600px;
    z-index: 20000;
}
#msg-div .flyMsg {
    border: 1px solid #CCCCCC;
    color: #555555;
    margin-top: 3px;
    padding: 10px 15px;
}
.msg-green {
    background: none repeat scroll 0 0 #D6F6DD;
}
.msg-red {
    background: none repeat scroll 0 0 #FFCCCC;
}
#msg-div .flyMsg h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px;
}
#msg-div .flyMsg p {
    margin: 0;
}
.redBtn {
    background: red none !important;
}
.redBtn:hover {
    background: #ed0000 none !important;
}
.redBtn:active {
    background: #ce0000 none !important;
}
.logout-warning-window {
    background-color: red;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: 3px solid #e2e2e2;
}
.noTitleBgHeader {
    padding: 10px 0 !important;
    background-color:transparent!important;
}
.noTitleBgHeader .x-panel-header-text-container-default{
    color:#325B7B;
}
#patient-portal{
    min-height: 400px;
}

.x-btn {
    border-radius:0 !important;
    background-image: none;
}

.patientNavBar {
    padding-bottom: 3px !important;
    border-bottom: 5px solid #D3E8F3 !important;
}
.patientNavBar .x-btn-default-toolbar-small {
    padding: 12px;
    border-radius:0;
    background: #F5F5F5 url("../images/navTabBg.png") no-repeat -10px -10px;
}
.patientNavBar .x-btn-default-toolbar-small-disabled {
    opacity: 1;
}
.patientNavBar .x-btn-default-toolbar-small.sadBackground  {
    background-position: -10px -110px;
}
.patientNavBar .x-btn-default-toolbar-small.happyBackground  {
    background-position: -10px -60px;
}
.patientNavBar .x-btn-default-toolbar-small-pressed {
    background-color: #D3E8F3;
}
