
body {
    background-color:#fafafa;
}
#app-mask-msg {
    width:160px; 
    height: 27px;
    position: absolute; 
    right:0; left:0;
    top:0; bottom:0; 
    margin: auto;
}
.centerContainer .x-panel-body {
	background-color: #DFE8F6;
	color: #596F8F;
}
.centerTitle {
	font-size: 22px;
	font-weight: 200;
	padding: 0 15px;
	text-shadow: 0 1px 0 #fff;
}
.centerPanel {
    margin: 5px;
}
.centerPanel .x-panel-body {
    background-color: white;
    border: solid 1px #ccc;
}

/* Squared Corners  */
div,
.x-window-default,
.x-window-header-default-top,
.x-tab-default-top,
.x-panel-default-framed,
.x-panel-header-default-framed-top,
.x-btn {
    border-radius: 0 !important;
}

/* Header Buttons  */
.header-button {
    height:50px;
    min-width:50px;
}
.header-button span {
    line-height:42px !important;
}
.header-button-right {
    margin-left:3px;
    float:right;
}
.header-button-left {
    margin-right:3px;
    float:left;
}
.logout {
    background-image: -webkit-linear-gradient(top,#fc5858,#eb5353) !important;
    background-image: -moz-linear-gradient(center top , #fc5858, #eb5353) !important;
}
.logout.x-pressed {
    background-image: -webkit-linear-gradient(top,#ec3737,#fe3b3b) !important;
    background-image: -moz-linear-gradient(center top , #ec3737, #fe3b3b) !important;
}
.logout span {
    color:white !important;
}

.logout-counter {
	background-color: red;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	color: white;
	border: 3px solid #e2e2e2;
}

/* flyMsg Div */
#msg-div {
    position: absolute;
    top: 10px;
    min-width: 300px;
    max-width: 600px;
    z-index: 20000;
}
#msg-div .flyMsg {
    border: 1px solid #CCCCCC;
    color: #555555;
    margin-top: 3px;
    padding: 10px 15px;
}
#msg-div .fadeded {
    opacity:0;
}
.msg-green {
    background: none repeat scroll 0 0 #D6F6DD;
}
.msg-red {
    background: none repeat scroll 0 0 #FFCCCC;
}
#msg-div .flyMsg h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px;
}
#msg-div .flyMsg p {
    margin: 0;
}

/* PORTAL CSS */
.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

.x-form-add-trigger {
    background-image: url("resources/icons/add-trigger.gif") !important;
}

.x-form-update-trigger {
    background-image: url("resources/icons/update-trigger.gif") !important;
}

.cancelBtn {
    background-image: linear-gradient(top, #ffc0c0, #ff9e9e); /* W3C */
    background-image: -moz-linear-gradient(center top, #ffc0c0, #ff9e9e) !important; /* Firefox */
    background-image: -webkit-linear-gradient(top, #ffc0c0, #ff9e9e) !important; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #ffc0c0, #ff9e9e); /* Opera+ */
    background-image: -ms-linear-gradient(top, #ffc0c0, #ff9e9e) !important; /* IE10+ */
}
.cancelBtn.x-btn-over {
    background-image: linear-gradient(top, #ff9595, #ff5555); /* W3C */
    background-image: -moz-linear-gradient(center top, #ff9595, #ff5555) !important; /* Firefox */
    background-image: -webkit-linear-gradient(top, #ff9595, #ff5555) !important; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #ff9595, #ff5555); /* Opera+ */
    background-image: -ms-linear-gradient(top, #ff9595, #ff5555) !important; /* IE10+ */
}
.cancelBtn.x-btn-pressed {
    background-image: linear-gradient(top, #b04444, #d78181); /* W3C */
    background-image: -moz-linear-gradient(center top, #b04444, #d78181) !important; /* Firefox */
    background-image: -webkit-linear-gradient(top, #b04444, #d78181) !important; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #b04444, #d78181); /* Opera+ */
    background-image: -ms-linear-gradient(top, #b04444, #d78181) !important; /* IE10+ */
}
.saveBtn {
    background-image: linear-gradient(top, #C0FFC3, #9EFFA3); /* W3C */
    background-image: -moz-linear-gradient(center top, #C0FFC3, #9EFFA3) !important; /* Firefox */
    background-image: -webkit-linear-gradient(top, #C0FFC3, #9EFFA3) !important; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #C0FFC3, #9EFFA3); /* Opera+ */
    background-image: -ms-linear-gradient(top, #C0FFC3, #9EFFA3) !important; /* IE10+ */
}
.saveBtn.x-btn-over {
    background-image: linear-gradient(top, #95ff9a, #55ff5d); /* W3C */
    background-image: -moz-linear-gradient(center top, #95ff9a, #55ff5d) !important; /* Firefox */
    background-image: -webkit-linear-gradient(top, #95ff9a, #55ff5d) !important; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #95ff9a, #55ff5d); /* Opera+ */
    background-image: -ms-linear-gradient(top, #95ff9a, #55ff5d) !important; /* IE10+ */
}
.saveBtn.x-btn-pressed {
    background-image: linear-gradient(top, #44b048, #81d786); /* W3C */
    background-image: -moz-linear-gradient(center top, #44b048, #81d786) !important;
    background-image: -webkit-linear-gradient(top, #44b048, #81d786) !important; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #44b048, #81d786); /* Opera+ */
    background-image: -ms-linear-gradient(top, #44b048, #81d786) !important; /* IE10+ */
}

.text-align-center {
    text-align: center !important;
}